*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;	
}

header{
	background-color:#d3baba;
	height:100vh;
	background-size:cover;
	background-position: center; 
}

ul{
	font-size:65px;
	float:right;
	list-style-type:none;
	margin-top:25px;
	
}

ul li{
	display:inline-block;
	
}
 
ul li a{
	text-decoration:none;
	color:red;
	padding: 5px 20px;
	border:solid green;
}

ul li a:hover{
	background-color:#fff;
	color:#000; 
}

.style{
	
	background:#722295;
	color:black;
	font-size:80px;	
	text-align:center;
	margin-bottom: 20px;
	
}

h2{
	font-size:40px;
	color:#137f2e;
	margin-bottom: 0px;
}